.relative { 
  display: block; 
  position: relative;
}

.container {
  width: 300px;
  max-height: 600px;
  padding: 4px 8px;
}

popup-heading .logo {
  width: 48px;
  height: 48px;
}

popup-heading .title {
  margin-top: 10px;
}

popup-heading .heading {
  overflow-y: hidden;
}

user-search-results .avatar {
  width: 48px;
  height: 48px;
}

user-search-results user {
  padding: 4px 8px;
}

user-search-results user:hover {
  background: rgba(0,0,0,0.2);
}

.donation-image {
  width: 200px;
}
