.relative { 
  display: block; 
  position: relative;
}

.container {
  width: 300px;
  padding: 4px 8px;
}

popup-heading .logo {
  width: 48px;
  height: 48px;
}

user-search-results .avatar {
  width: 48px;
  height: 48px;
}

user-search-results user {
  padding: 4px 8px;
}

user-search-results user:hover {
  background: rgba(0,0,0,0.2);
}
