.border-box { box-sizing: border-box; }

.absolute { position: absolute; }
.relative { position: relative; }

.block        { display: block; }
.flex         { display: flex; }
.inline-block { display: inline-block; }
.inline-flex  { display: inline-flex; }

.wrap    { flex-wrap: wrap; }
.no-wrap { flex-wrap: nowrap; }

.row { flex-direction: row;    }
.col { flex-direction: column; }

.space-around  { align-content: space-around;  }
.space-between { align-content: space-between; }

.justify-start  { justify-content: flex-start; }
.justify-center { justify-content: center;     }
.justify-end    { justify-content: flex-end;   }

.self-start  { align-self: flex-start; }
.self-center { align-self: center;     }
.self-end    { align-self: flex-end;   }

.flex-none { flex: none; }
.flex-auto { flex: auto; }
.flex-1    { flex: 1;    }

.no-pad { padding: 0; }

body {
  background: #272727;
}

a:link    { color: #FFFFFF; font-weight: bold; text-decoration: none; }
a:visited { color: #FFFFFF; font-weight: bold; text-decoration: none; }
a:hover   { color: #C4C4C4; font-weight: bold; text-decoration: none; }
a:active  { color: #FFFFFF; font-weight: bold; text-decoration: none; }
textarea:focus, input:focus{
  outline: none;
}
*:focus {
  outline: none;
}
input[type=text] {
  background: #4C4C4C;
  color: #FFD300;
  border-radius: 8px; 
}

.empty {
  background: initial;
  color: #FFFFFF;
}
