@import url("../node_modules/spectre.css/dist/spectre.min.css");
@import url("../node_modules/spectre.css/dist/spectre-exp.min.css");
@import url("../node_modules/spectre.css/dist/spectre-icons.min.css");

.relative { 
  display: block; 
  position: relative;
}

.container {
  width: 320px;
  max-height: 600px;
  padding: 4px 8px;
}

popup-heading .logo {
  width: 48px;
  height: 48px;
}

popup-heading .title {
  margin-top: 10px;
}

popup-heading .heading {
  overflow-y: hidden;
}

popup-search-results .avatar {
  width: 48px;
  height: 48px;
}

popup-search-results user {
  padding: 4px 8px;
}

popup-search-results user:hover {
  background: rgba(0,0,0,0.2);
}

popup-streams .thumbnail {
  width: 85px;
  height: 48px;
}

popup-streams stream {
  padding: 4px 8px;
}

popup-streams stream:hover {
  background: rgba(0,0,0,0.2);
}

.donation-image {
  width: 200px;
}
